ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
    float: center;
}

/* li{
    text-align: center;
} */

body{
    background-color: rgb(186, 186, 236);
    padding: 70px;
}

.val_1{
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.val_1 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Change the color of links on hover */
.val_1 a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .val_1 a.active {
    background-color: #04AA6D;
    color: white;
  }

  .pic {
    float: right;
    padding: 14px 16px;
    display: block;
  }

  h1{
    color: red;
  }