.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: relative;
    /* left: 900px; */
    /* top: 700px; */
    /* to take this div behind we use z-index */
    /* z-index is used for stacking */
    /* z-index: -1; */
}

.red{
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    left: 200px;
    /* left: 500px; */
    /* bottom: 200px; */
}

.pink{
    height: 200px;
    width: 200px;
    background-color: pink;
    position: relative;
    left: 400px;
}

.purple{
    height: 200px;
    width: 200px;
    background-color: purple;
    position: relative;
    bottom: 100px;
    left: 500px; 
    z-index: -1;
}