body{
    background-color: rgba(160, 248, 197, 0.979);
    margin: 0;
    font-size: 1.5vw;
    font-family: 'Arimo', sans-serif;
    font-weight: 300;
}

/* Styling the main container using css grid */
.main-container{
    display: grid;
    grid-template-columns: 24.5% 24.5% 17% 17% 17%;
    grid-auto-flow: column dense;
    column-gap: 2px;
    margin: 40px 30px;
    /* height: 400px; */
}

/* Styling the subcontainers in the main container */
.container1{
    grid-column-end: span 2;
    background-color: aliceblue;
    padding: 20px 50px 150px 50px;
    border-left: solid green 10px;
    margin-right: -2px;
}

.containers{
    background-color: whitesmoke;
    border-right: solid green 10px;
    border-left: none;
    /* border: solid 5px; */
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* This is to flip the image when hovered upon */
img:hover{
  transform: scaleX(-1);
}

.nav-bar{
    display: flex;
    flex-direction: row;
    /* position: relative; */
    justify-content: flex-end;
    gap: 20px;
    padding: 5px 5px 100px 5px;
    /* This makes the navigation bar adjust
        automatically as the screen size change
    */
    flex-wrap: wrap;
}

.nav-bar a{
    text-decoration: none;
    font-size: 1.6vw;
    color: black;
    font-weight: 600;
}

.nav-bar :hover{
    color: green;
}

.sub-container{
    display: grid;
    grid-template-columns: 35% 25% 40%;
    row-gap: 50px;
    font-size: 1vw;
}

h3{
    font-size: 1.3vw;
}

.green{
    color: rgba(46, 231, 9, 0.753);
}

/* #bigger{
    font-size: 4.5vw;
    font-weight: 900;
} */

button{
    padding: 10px 20px;
    font-size: 1.1vw;
    border-radius: 10px;
    /* font: bold; */
    /* font-weight: 600; */
}

#normal{
    font-size: 1.5vw;
}

#get-started{
    background-color: rgb(65, 63, 63);
    /* border: solid rgb(65, 63, 63); */
    border: none;
    color: white;
    width: 80%;

}

#demo{
    width: 100%;
    border: none;
}
/* 
#x-space{
    padding: 100px;
} */