@media screen and (max-width:900px) {
    body{
        background-color: rgb(122, 145, 245);
        /* width: 30%; */
        font-size: 4vw;
    }

    .main-container{
        display: grid;
        /* flex-direction: column; */
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: dense;
        /* column-gap: 1px; */
        margin: 10px 10px;
        /* height: 400px; */
    }

    .container1{
        grid-column-end: span 3;
        background-color: aliceblue;
        padding: 20px 50px;
        border-left: solid green 10px;
        margin-right: -2px;
    }
    
    .containers{
        background-color: whitesmoke;
        border-right: solid green 10px;
        border-left: none;
        /* border: solid 5px; */
    }

    .nav-bar a{
        text-decoration: none;
        font-size: 4.5vw;
        color: black;
        font-weight: 600;
    }

    .sub-container{
        display: grid;
        grid-template-columns: 35% 25% 40%;
        row-gap: 50px;
        font-size: 3vw;
    }
    
    h3{
        font-size: 3.5vw;
    }
    
    #bigger{
        font-size: 10vw;
        font-weight: 900;
    }
    
    button{
        padding: 10px 20px;
        font-size: 2.5vw;
        border-radius: 10px;
        /* font: bold; */
        /* font-weight: 600; */
    }
    
    #normal{
        font-size: 3vw;
    }
    

}
