body{
  background-image: url(./istockphoto-1439556028-612x612.jpg);  
  background-size: 100%;
  /* color: white; */
  font-size: 2em;
  font: bold;
  width: 90%;
  margin: auto;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 90%;
    justify-content: flex-end;
    padding: 20px;
}

.nav-bar >a{
    text-decoration: none;
    color: black;
    /* color: white; */
}

.bodie{
    font-family: 'Montserrat', sans-serif;
}

.bodie >p{
    color: blue;
    font-size: 1.7rem;
}

@media(max-width: 600px) and (min-width: 500px){
    h1, p{
        color: red;
    }
}